.attribute:not(:last-child) {
  margin-bottom: 4px;
}

.attribute__label {
  display: inline-block;
  margin-right: 6px;
  text-transform: capitalize;
}

.attribute__range {
  margin-right: 6px;
}

.attribute__range::-webkit-slider-thumb {
  cursor: pointer;
}

.attribute__range,
.attribute__value {
  vertical-align: middle;
}

.attribute__value {
  width: 40px;
  text-align: right;
}
